#header{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: 625f5e;
  width: 100%;
  
  }
  
  @media only screen and (max-width: 480px) {
  .logo{
    width: 100%;
  
  }
  
  }
  
    
    body{
    
        background-color: #625f5e;
    
    
    
    }
    
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #625f5e;
      }
      
      li {
        float: right;
        margin-left: 5px;
        margin-right: 5px;
      }
        
      
      li a {
        display: block;
        border-style: solid; 
        border-width:3px;
        border-color: black;
        background-color: #cdb736;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }
      
    
      li a:hover {
        background-color:black;
        color: #625f5e;
    
      }
    
       h3{
    
        color: #cdb736;
        font-family: Arial, Helvetica, sans-serif;
       }
    
        h2{color: #cdb736;
          font-family: Arial, Helvetica, sans-serif;
      }
    
      h1{color: #cdb736;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    p{
        color: #cdb736;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 16px + 20vw;
    
    }
    
    .footer{
    display:flex;
    flex-wrap: wrap;
    background-color:black;
    padding-left: 15%;
    padding-right: 15%;
    justify-content: space-between;
    
      
    }
    
    .linkage{
      color: #cdb736;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 16px; 
    }
    
    .linkage:hover {
      color: black;
    
    }
    
    .social{
      margin-top:15px ;
    }
    

    .full{
      display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    }
     
     .about{
      width:60%;
      margin-left: 1%;
      margin-top:10px; 
     margin-bottom: 7%;
     font-size: 16pt;
     }
    
     @media only screen and (max-width: 790px) {.about{
      width:100%;
      margin-left: 1%;
      margin-top:5px; 
     margin-bottom: 4%;
     font-size:10pt;  
      
        
     
    
    } 
    
    }
    



      .photo{
      width:20%;
      margin-right: 10%;
      }
    
      @media only screen and (max-width: 790px) {.photo{
        width:60%;
        margin-top:10%;

      }}
     .photo>.place{
       width:100%;
       margin-bottom: 5%;
       margin-right:20%;
      margin-top:-20%;
      
      
     }
     .hrm{
       margin-left:1%;
     }
     @media only screen and (max-width: 790px) {.hrm{
      margin-left:1%;
      font-size: 12pt;  
     }}

     .long{
      width:100%;
      height:3px;
      background-color: #cdb736;
      
      }