
/* This is the code you want to copy*/




#header{
display:flex;
flex-wrap: wrap;
justify-content: center;
background-color: #625f5e;
width: 100%;

}

@media only screen and (max-width: 480px) {
.logo{
  width: 100%;

}

}

body{

    background-color: #625f5e;
 



}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #625f5e;
  }
  
  li {
    float: right;
    margin-left: 5px;
    margin-right: 5px;
  }
    
  
  li a {
    display: block;
    border-style: solid; 
    border-width:3px;
    border-color: black;
    background-color: cdb736;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  

  li a:hover {
    background-color:black;
    color: 625f5e;

  }

   h3{

    color: #cdb736;
    font-family: Arial, Helvetica, sans-serif;
   }

    h2{color: #cdb736;
      font-family: Arial, Helvetica, sans-serif;
  }

  h1{color: #cdb736;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    color: #cdb736;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;

}

.footer{
display:flex;
flex-wrap: wrap;
background-color:black;
padding-left: 15%;
padding-right: 15%;
justify-content: space-between;

  
}

.linkage{
  color: #cdb736;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px; 
}

.linkage:hover {
  color: black;

}

.social{
  margin-top:15px;
}


  /* This ends code you want to copy*/

  .banner{
      width:100%;
      height: auto;
      position: relative;
      

  }

  .banner> img{
    max-width:100%;
    height: auto;

  }
   
    .overlap{ 
     
      position: absolute;
     top: 25%;
    left:68%;
    text-align: center;
    
    }

    #ad{
      color:black;
      font-weight:bold;
      font-size: 35pt;
      white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;

    }
    
    
    @media only screen and (max-width: 790px) { #ad{
      font-size: 10pt;
      color:black;
      font-weight:bold;  
     
 
    } 

    }

    
        
    
.long{
width:100%;
height:3px;
background-color: #cdb736;

}

.beeholder{
  width:100%;

} 
    


.beeholder>.bee{
width:100%;


}

.beetext{
  position: absolute;
  top: 230%;
  left: 7%;



}
@media only screen and (max-width: 480px) {.beetext{
position: absolute;
left: 5%;
top:116%;
}}







.beelink{
  color: black;


}

.whole{
  display:flex;
  flex-wrap: wrap;

  

  

}

.leftbg{
  width:58.5%;
  background-color: #cdb736;
  padding-left: 10px;
  padding-right: 10px;

}
@media only screen and (max-width: 480px) {.leftbg{
 Width:100%; }}




#meadguy{
  width:40%;
  height: auto;
}
 

#meadguy>.mandrink{
width:100%;
height: auto;


}

@media only screen and (max-width: 480px) {#meadguy .mandrink{
 display:none; }}



 .beewords{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
  font-size:32pt;
  padding-left: 10px;
  white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
 
}

@media only screen and (max-width: 790px) {.beewords{
  font-size: 10pt;
  color:black;
  font-weight:bold;
  
    
 

} 

}


@media only screen and (max-width: 790px) { .beewords{
  font-size: 10pt;
  color:black;
  font-weight:bold; }}

 
 .text{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
  font-size: 16pt;
 padding-left: 10px;


}
  
@media only screen and (max-width: 790px) {.text{
  font-size: 10pt;
  color:black;
  font-weight:bold;}}


  .beespeak{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-size:32pt;
    padding-left: 10px;
    margin-top:7%;
   
  }


  
@media only screen and (max-width: 790px) {.beespeak{
  font-size: 10pt;
  color:black;
  font-weight:bold;  
  margin-top: 4%;
} 

}

 